<h1>
  <div class="container">
    <div class="row">
      <div class="col-xs-12"></div>
      <center>Welcome to CarDiem!</center>
    </div>
  </h1>
  <div class="row padding-inside-top-lg">

    <div class="col-lg-4 col-lg-offset-1">
      <h2>
        The CarDiem Mission
      </h2>

      <p>
        We are all busy these days.  Don't spend hours of your day handling routine or unexpected car maintenance and repair services.  Let CarDiem do it for you!
      </p>
    </div>

    <div class="col-lg-4 col-lg-offset-2">
      <%= image_tag("carservice.jpg", :size => "260x180")%>
    </div>

  </div>

  <div class="row padding-inside-top-lg">

    <div class="col-lg-4 col-lg-offset-1">
      <%= image_tag("keys.jpg", class: "img-responsive")%>
    </div>

    <div class="col-lg-4 col-lg-offset-2">
      <h2>
        How does it work?
      </h2>

      <p>
        We come pick up your car, take it to the repair center of your choice, and return your car to you safe and sound, all done through our easy to use app.
      </p>
    </div>

  </div>

  <div class="row padding-inside-top-lg">

    <div class="col-lg-4 col-lg-offset-1">
      <h2>
        Select your car
      </h2>

      <p>
        Simply load <a href="/cars">your car information </a>into your profile and we can keep track of your latest service history.
      </p>
    </div>

    <div class="col-lg-4 col-lg-offset-2">
      <a href="/cars"><%= image_tag("selectcar.jpg", class: "img-responsive")%></a>
    </div>
  </div>

  <div class="row padding-inside-top-lg">
    <div class="col-lg-4 col-lg-offset-1">
      <a href="/service_requests/new"><%= image_tag("schedule.jpg", class: "img-responsive")%></a>
    </div>

    <div class="col-lg-4 col-lg-offset-2">
      <h2>
        Schedule a pick up
      </h2>

      <p>
        <a href="/service_requests">Schedule a Service Request</a> at the pick-up location of your choice.  Then select a repair center you would like us to drop the car off at for service.  Simply include the services you would like completed and we will take care of the rest.
      </p>
    </div>

  </div>

  <div class="row padding-inside-top-lg">

    <div class="col-lg-4 col-lg-offset-1">
      <h2>
        Automate tracking of car maintenance history
      </h2>

      <p>
        Toss those scratch sheets of paper and notebooks where you used to track your car maintenance history.  CarDiem <a href="/cars">tracks it for you </a>and automatically store car services completed in your profile and also pushes you notifcations for upcoming services needed.
      </p>
    </div>

    <div class="col-lg-4 col-lg-offset-2">
      <a href="/cars"><%= image_tag("car-maintenance.png", class: "img-responsive")%></a>
    </div>

  </div>

  <div class="row padding-inside-top-lg">

    <div class="col-lg-12 ">
      <center>
        <h2>
          That's it!  Time to enjoy all of your free time!
        </h2>

        <p>
          Get started now by <a href="/service_requests/new">scheduling a service request</a> and let CarDiem help you seize your day!
        </p>
      </div>
    </center>

    <div>
      <p>
      </p>
    </div>
