<div class="page-header">
  <h3>Car #<%= @car.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd>
        <% if @car.user.present? %>
          <a href="/users/<%= @car.user_id %>">
            <%= @car.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>Make</dt>
      <dd><%= @car.make %></dd>

      <dt>Model</dt>
      <dd><%= @car.model %></dd>

      <dt>Year</dt>
      <dd><%= @car.year %></dd>

      <dt>Mileage</dt>
      <dd><%= @car.mileage %></dd>

      <dt>Service history</dt>
      <dd><%= @car.service_history %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/cars" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @car.user %>
        <a href="/cars/<%= @car.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_car/<%= @car.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Car has many service_requests -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Service_requests
      </li>

      <% @car.service_requests.each do |service_request| %>
        <li class="list-group-item">
          <a href="/service_requests/<%= service_request.id %>">
            <%= service_request.car_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/service_requests/<%= service_request.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/service_requests/<%= service_request.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_service_request/<%= service_request.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_service_request" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for car_id -->
      <input type="hidden" name="car_id" value="<%= @car.id %>">

      <!-- Label and input for rc_phone -->
      <div class="form-group">
        <label for="rc_phone" class="control-label">
          Rc phone
        </label>

        <input type="text" id="rc_phone" name="rc_phone" placeholder="Rc phone" class="form-control" value="">
      </div>

      <!-- Label and input for driver_id -->
      <div class="form-group">
        <label for="driver_id" class="control-label">
          Driver
        </label>

        <%= select_tag(:driver_id, options_from_collection_for_select(Driver.all, :id, :email), :class => "form-control") %>
      </div>

      <!-- Label and input for repair_center_location -->
      <div class="form-group">
        <label for="repair_center_location" class="control-label">
          Repair center location
        </label>

        <input type="text" id="repair_center_location" name="repair_center_location" placeholder="Repair center location" class="form-control" value="">
      </div>

      <!-- Label and input for pickup_location -->
      <div class="form-group">
        <label for="pickup_location" class="control-label">
          Pickup location
        </label>

        <input type="text" id="pickup_location" name="pickup_location" placeholder="Pickup location" class="form-control" value="">
      </div>

      <!-- Label and input for pickup_time -->
      <div class="form-group">
        <label for="pickup_time" class="control-label">
          Pickup time
        </label>

        <input type="text" id="pickup_time" name="pickup_time" placeholder="Pickup time" class="form-control" value="">
      </div>

      <!-- Label and input for pickup_date -->
      <div class="form-group">
        <label for="pickup_date" class="control-label">
          Pickup date
        </label>

        <input type="text" id="pickup_date" name="pickup_date" placeholder="Pickup date" class="form-control" value="">
      </div>

      <!-- Label and input for rc_name -->
      <div class="form-group">
        <label for="rc_name" class="control-label">
          Rc name
        </label>

        <input type="text" id="rc_name" name="rc_name" placeholder="Rc name" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Service Request
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
