<div class="page-header">
  <h3>Car #<%= @car.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd><%= @car.user_id %></dd>

      <dt>Make</dt>
      <dd><%= @car.make %></dd>

      <dt>Model</dt>
      <dd><%= @car.model %></dd>

      <dt>Year</dt>
      <dd><%= @car.year %></dd>

      <dt>Mileage</dt>
      <dd><%= @car.mileage %></dd>

      <dt>Service history</dt>
      <dd><%= @car.service_history %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/cars" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @car.user %>
        <a href="/cars/<%= @car.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_car/<%= @car.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Car has many service_requests -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Service_requests
      </li>

      <% @car.service_requests.each do |service_request| %>
        <li class="list-group-item">
          <a href="/service_requests/<%= service_request.id %>">
            <%= service_request.car_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/service_requests/<%= service_request.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/service_requests/<%= service_request.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_service_request/<%= service_request.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
