<div class="page-header">
  <h1>
    Service notifications
    <a href="/service_notifications/new" class="btn btn-lg btn-success">New Service notification</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Service request</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>

      <% @service_notifications.each do |service_notification| %>
      <tr>
        <td><%= service_notification.service_request.car_id %></td>
        <td><%= service_notification.status %></td>
        <td>
          <a href="/service_notifications/<%= service_notification.id %>" class="btn btn-primary">Show</a>
          <a href="/service_notifications/<%= service_notification.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_service_notification/<%= service_notification.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @service_notifications, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
