<div class="page-header">
  <h3>Service Notification #<%= @service_notification.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Service request</dt>
      <dd>
        <% if @service_notification.service_request.present? %>
          <a href="/service_requests/<%= @service_notification.service_request_id %>">
            <%= @service_notification.service_request.car_id %>
          </a>
        <% end %>
      </dd>

      <dt>Car</dt>
      <dd><%= @service_notification.car.nickname %></dd>

      <dt>Date of Request</dt>
      <dd><%= @service_notification.service_request.pickup_date %></dd>

      <dt>Status</dt>
      <dd><%= @service_notification.status %></dd>

    </dl>

    <div class="btn-group col-md-2">
      <a href="/service_notifications" class="btn btn-primary btn-med">
        Back to Service Notifications
      </a>
      <!-- Removed as user doesn't need to see these actions -->
      <!-- <a href="/service_notifications/<%= @service_notification.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_service_notification/<%= @service_notification.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a> -->
    </div>
  </div>
</div>
